@charset "utf-8";

/*BIBLIO*/

* {
	outline: 0;
	margin: 0;
	padding: 0;
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {height: 100%}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.selectable {
	-webkit-touch-callout: default;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: auto;
	user-select: text;
}

a {-webkit-touch-callout: default}

a {
	color: hsl(210,85%,50%);
	cursor: pointer;
	text-decoration: none;
}
a:hover {text-decoration: underline}
a.odd:hover {text-decoration: none}

ul.odd {list-style: none}
hr {
	border: 0;
	border-top: 1px solid;
}

button {
	background-color: transparent;
	border: 0;
	color: inherit;
	white-space: nowrap;
}

textarea {
	display: block;
	outline: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid;
	padding: 4px 6px;
	resize: none;
	min-height: 50px;
	-webkit-touch-callout: default;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: text;
	-ms-user-select: all;
	user-select: all;
}

input {
	display: block;
	border: 0;
	outline: 0;
	-webkit-touch-callout: default;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: text;
	-ms-user-select: all;
	user-select: all;
}

input[type="date"] {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 2px 5px;
}

input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

input[type="file"]::-webkit-file-upload-button {display: none}
::-webkit-scrollbar {width: 0}


.cf:before,
.cf:after {
	content: "";
	display: table;
}
.cf:after {clear: both}

.centering:before,
.v-centering:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.centering > *,
.v-centering > * {
	display: inline-block !important;
	vertical-align: middle !important;
}
.centering,
.h-centering {text-align: center}

.hidden {display: none !important}
.disable-hover {pointer-events: none}

.pull-left {text-align: left}
.pull-right {text-align: right}

/*/BIBLIO*/

#plan-wrapper {
	height: 100%;
	width: 100%;
	min-width: 990px;
	font-size: 0;
}

#plan {
	height: 250px;
	width: 990px;
	font-size: 14px;
}

.blocks-wrapper {
	width: 100%;
	height: 45%;
	font-size: 0;
	text-align: left;
}
.plan-corridor {
	height: 10%;
	border-left: 3px solid;
	border-right: 3px solid;
}

.block-piece {
	display: inline-block;
	vertical-align: top;
}
.block-piece,
.room-piece,
.rooms-stack,
.rooms-bifurcation {height: 100%}

.block-piece.block-1x {width: 5%}
.block-piece.block-2x {width: 10%}
.block-piece.block-3x {width: 15%}


.blocks-wrapper.top .rooms-stack > :first-child,
.blocks-wrapper.bottom .rooms-stack > :last-child {height: 60%}
.blocks-wrapper.bottom .rooms-stack > :first-child,
.blocks-wrapper.top .rooms-stack > :last-child {height: 40%}

.rooms-bifurcation  > * {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.rooms-bifurcation  > :first-child {border-right: 1px solid}
.rooms-stack  > :first-child {border-bottom: 1px solid}

.block-piece {border: 3px solid}
.block-piece + .block-piece {border-left: 0}

.room-piece {font-size: 16px}
.room-wall {background-color: hsl(30, 40%, 50%)}

.block-unit {cursor: pointer}

.block-unit:hover {background-color: hsla(200, 90%, 50%, 0.4)}
.room-unit:hover {background-color: hsla(140, 90%, 50%, 0.4)}

.room-red {background-color: hsl(0, 90%, 80%)}
.room-red {background-color: hsl(50, 90%, 80%)}
.room-green {background-color: hsl(150, 90%, 80%)}
.room-blue {background-color: hsl(200, 90%, 80%)}
.room-grey {background-color: hsl(0, 0%, 80%)}

@media (min-width: 1240px) and (max-width: 1679px) {
	#plan {
		height: 300px;
		width: 1200px;
	}
}

@media (min-width: 1680px) {
	#plan {
		height: 400px;
		width: 1600px;
	}
}