.centering {
    display: inline-block;
    vertical-align: middle;
}
.centering:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#mainform {
    width: 1200px;
    margin: 0 auto;
}
.selected{
    background: #888888;
}