/***/
/*{ margin-left: auto;*/
/*margin-right: auto;*/
/*}*/
/*.body{
    font-family:Arial, sans-serif;
    text-align: center;
}*/
body{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Arial, sans-serif;;
}
.infobox{
    position: relative;
    top: 100px;
    left: 1125px;
    height: auto;
    width: 400px;
    border: 7px ridge rgba(128, 209, 153, 0.84);
    color: #555;
    display:none;
}
.bloocksinfo .rooomsinfo {
    position: absolute;
    left: 1380px;
    height: auto;
    width: 400px;
    border: 7px ridge rgba(128, 209, 153, 0.84);
    color: #555;
    display: none;
}
#block_number_r:hover {
    cursor: pointer;
}
button{
    position: absolute;
    background-color: white;
    border: none;
    left: 373px;
}
button:hover{
    cursor: pointer;
}
span {
    display: table;
    top: -300px;
    left: 105px;
    color: #555;
}
div[id^="blockroom"]{
    border: 3px solid rgba(84, 108, 81, 0.75);
    position: absolute;
}
div[class^="block"] {
    position: absolute;
    border: 4px solid #6C7B8B;
}
div[class^="room"]{
    position: absolute;
    border: 2px solid #27408B;
    background: url(bed.png) no-repeat center;
    background-size: 25px 25px;
}
div[id^="su"]{
    position: absolute;
    border: 1px solid #528B8B;
    background-origin: content-box;
    background: url(bath.png) no-repeat center;
    background-size: 16px 16px;
    background-color: #96CDCD;
}
div[id^="enter"]{
    position: absolute;
    background-color: burlywood;
    border: 1px solid brown;
}
div[class^="block"]:hover {
    background-color: lightgreen;
}
div[class^="room"]:hover{
    background-color: palegoldenrod;
    cursor: pointer;
}
.stage {
    position: absolute;
    left: 45px;
    top: 150px;
    height: 220px;
    width: 940px;
    border: 4px solid black;
    float: left;
}
#path {
    position: absolute;
    left: 990px;
    top: 245px;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    background-color: #6C7B8B;
}
#ladder {
    position: absolute;
    top: 220px;
    left: 1025px;
    height: 85px;
    width: 85px;
    border: 4px solid black;
    background-origin: content-box;
    background: url(stairs.png) no-repeat center;
    background-size: 30px 30px;
    background-color: rgba(172, 160, 132, 0.75);
}
#corridor {
    position: absolute;
    top: 100px;
    height: 17px;
    width: 937px;
    border: 3px solid #8B6969;
    background-color: peachpuff;
}
#blockroom{
    position: relative;
    top: 123px;
    width: 40px;
    height: 92px;
    background-color: darkgray;
}
#bigladder{
    position: absolute;
    display: inline-block;
    top: 123px;
    left: 377px;
    height: 90px;
    width: 40px;
    border: 5px solid rgba(32, 0, 24, 0.66);
    background: url(stairs.png) no-repeat center;
    background-size: 30px 30px;
    background-color: rgba(172, 160, 132, 0.75);

}
#wash{
    position: absolute;
    left: 427px;
    top: 124px;
    width: 17px;
    height: 17px;
    border: 2px solid #6C7B8B;
    background: url(washingmachine.png) no-repeat center;
    background-size: 15px 15px;
}
#elevator {
    position: absolute;
    top: 0px;
    left: 343px;
    width: 110px;
    height: 98px;
    border: 2px solid rgba(32, 22, 24, 0.66);
    background: url(elevator.png) no-repeat center;
    background-size: 50px 50px;
    background-color: rgba(172, 160, 132, 0.75);
}
#blockroom2 {
    top: 0px;
    left: 457px;
    width: 40px;
    height: 95px;
    background: url(microwave.png) no-repeat center;
    background-size: 30px 30px;
    background-color: rgba(148, 172, 120, 0.75);
}
#blockroom3{
    top: 0;
    left: 880px;
    width: 54px;
    height: 94px;
    background-color: darkgray;
}
.block1{
    position: relative;
    height: 92px;
    width: 48px;
    border: 3px solid #6C7B8B;
}
.block2 {
    left: 56px;
    height: 92px;
    width: 90px;
}
.block3 {
    top: 123px;
    left: 46px;
    height: 90px;
    width: 90px;
}
.block4{
    top: 123px;
    left: 141px;
    height: 90px;
    width: 90px;
}

.block5{
    top: 123px;
    left: 235px;
    width: 90px;
    height: 90px;
}
.block6{
    top: 123px;
    left: 329px;
    width: 40px;
    height: 90px;
}

.block7{
    top: 123px;
    left: 426px;
    width: 84px;
    height: 90px;
}

.block8{
    top: 123px;
    left: 510px;
    height: 90px;
    width: 90px;
}
.block9 {
    top: 123px;
    left: 602px;
    height: 90px;
    width: 90px;
}
.block10{
    top: 123px;
    left: 698px;
    height: 90px;
    width: 90px;
}
.block11{
    top: 123px;
    left: 793px;
    height: 90px;
    width: 140px;
}

.block12 {
    top: 0px;
    left: 148px;
    height: 93px;
    width: 90px;
}
.block13{
    top: 0px;
    left: 245px;
    height: 93px;
    width: 92px;
}
.block14 {
    top: 0px;
    left: 503px;
    height: 93px;
    width: 90px;
}
.block15{
    top: 0px;
    left: 600px;
    width: 90px;
    height: 93px;
}
.block16{
    top: 0px;
    left: 694px;
    width: 90px;
    height: 93px;
}
.block17{
    top: 0px;
    left: 785px;
    width: 90px;
    height: 93px;
}
.room1{
    position: relative;
    width: 44px;
    height: 53px;
}
.room21{
    width: 43px;
    height: 53px;
}
.room22{
    left: 45px;
    height: 88px;
    width: 42px;
}
.room31,.room51, .room91{
    height: 88px;
    width: 45px;
}
.room32, .room52, .room92{
    top: 35px;
    left: 49px;
    width: 38px;
    height: 53px;
}
.room41,.room81, .room101 {
    top: 34px;
    width: 38px;
    height: 54px;
}
.room42,.room82, .room102{
    left: 40px;
    width: 46px;
    height: 88px;
}
.room6 {
    top: 35px;
    height: 53px;
    width: 38px;
}
.room71{
    top: 17px;
    width: 33px;
    height: 71px;
}
.room72{
    top: 35px;
    left: 35px;
    width: 42px;
    height: 53px;
}
.room111{
    width: 56px;
    height: 88px;
}
.room112{
    top: 35px;
    left: 58px;
    width: 80px;
    height: 53px;
}
.room121, .room141{
    height: 90px;
    width: 45px;
}
.room122, .room142, .room161{
    left: 49px;
    width: 38px;
    height: 54px;
}
.room13{
    height: 54px;
    width: 90px;
}
.room151, .room171{
    height: 54px;
    width: 38px;
}
.room152{
    left: 41px;
    height: 74px;
    width: 45px;
}
.room162{
    height: 74px;
    width: 45px;
}
.room172{
    left: 41px;
    height: 91px;
    width: 45px;
}

#enter1 {
    top: 57px;
    width: 22px;
    height: 33px;

}
#enter2 {
    left: 24px;
    top: 57px;
    width: 21px;
    height: 33px;
}
#su1{
    top: 57px;
    left: 24px;
    width: 22px;
    height: 33px;
}
#su2{
    top: 57px;
    height: 33px;
    width: 22px;
}
#su3, #su9{
    left: 49px;
    width: 18px;
    height: 33px;
}
#su7{
    left: 59px;
    width: 19px;
    height: 33px;
}
#enter7{
    left: 37px;
    width: 20px;
    height: 33px;
}
#enter3, #enter9{
    left: 69px;
    width: 19px;
    height: 33px;
}
#enter4{
    width: 20px;
    height: 33px;
}
#su4{
    left: 22px;
    width: 18px;
    height: 33px;
}
#su5{
    left: 70px;
    height: 33px;
    width: 18px;
}
#enter5{
    left: 48px;
    width: 20px;
    height: 33px;
}
#su6, #su8, #su10{
    width: 18px;
    height: 33px;
}
#enter6, #enter8, #enter10{
    left: 20px;
    width: 20px;
    height: 33px;
}
#enter11{
    left: 58px;
    width: 20px;
    height: 33px;
}
#su11{
    left: 78px;
    width: 18px;
    height: 33px;
}
#su12, #su14{
    top: 58px;
    left: 49px;
    width: 18px;
    height: 33px;
}
#enter12, #enter14{
    top: 58px;
    left: 69px;
    width: 19px;
    height: 33px;
}
#su13, #su15, #su17{
    top: 58px;
    width: 18px;
    height: 33px;
}
#enter13, #enter15, #enter17{
    top: 58px;
    left: 20px;
    width: 19px;
    height: 33px;
}
#su16{
    top: 58px;
    left: 70px;
    width: 18px;
    height: 33px;
}
#enter16{
    top: 58px;
    left: 49px;
    width: 19px;
    height: 33px;
}

#border {
    position: absolute;
    top: 123px;
    left: 447px;
    width: 17px;
    height: 21px;
    border-right: 4px solid #6C7B8B;
}
